*{
	margin:0;
	padding:0;
}

/*left*/
.main_left{
	text-align: center;
	margin-top: 66px;
	float: left;
	width: 65%;
	height: 1000px;
}
.left_bar{
	margin: 0 auto;
	margin-right: 20px;
	margin-top: 20px;
	width: 600px;
	height: 60px;
	border: 1px solid rgb(233,233,233);
	border-radius: 1px;
	box-shadow: 0 0 3px rgb(222,222,222);
}
.post{
	margin: 0 auto;
	margin-right: 20px;
	margin-top: 15px;
	width: 700px;
	height: 150px;
	border: 1px solid rgb(233,233,233);
	border-radius: 2px;
	box-shadow: 0 0 4px rgb(222,222,222);
}
.a_post{
	color: rgb(100,100,100);
	text-decoration: none;
	margin-top: 15px;
	float: left;
	margin-left: 20px;
	font-family: icons;
	font-size: 17px;
}
.a_lost{
	color: rgb(100,100,100);
	text-decoration: none;
	float: left;
	margin-left: 40px;
	margin-top: 15px;
	font-family: icons;
	font-size: 17px;
}
.lost_img{
	width: 27px;
	float: left;
}
.inner_img{
	float: left;
}
.inner_span{
	float: left;
	margin-top: 3px;
	margin-left: 2px;
}
.search_form{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}
.search_bar{
	-webkit-appearance: none;
	font-size: 15px;
	font-family: icons;
	border: 1px solid rgb(222,222,222);
	border-radius: 3px;
	line-height: 25px;
	height: 40px;
	width: 240px;
}
.poster{
	margin-top: 20px;
}
.post_area{
	display: block;
}

/*right*/
.main_right{
	margin-top: 66px;
	float: right;
	width: 35%;
	height: 1000px;
}
.msg{
	position: fixed;
	margin-top: 20px;
	border-radius: 2px;
	box-shadow: 0 0 4px rgb(200,200,200);
	width: 280px;
}
.msg_a{
	text-decoration: none;
	font-size: 16px;
	font-family: icons;
	color: rgb(135,140,168);
	display: block;
	border-bottom: none;
	border-top: none;
	height: 50px;
	width: 280px;
}
.msg_a:hover{
	background-color: rgb(235,235,235);
}
.msg_span{
	display: block;
	float: left;
	margin-top: 14px;
	margin-left: 10px;
}