*{
	margin:0;
	padding:0;
}

/*left*/
.main_left{
	text-align: center;
	margin-top: 66px;
	float: left;
	width: 65%;
}
.left_bar{
	margin: 0 auto;
	margin-right: 20px;
	margin-top: 20px;
	width: 600px;
	height: 60px;
	border: 1px solid rgb(233,233,233);
	border-radius: 1px;
	box-shadow: 0 0 3px rgb(222,222,222);
}
.post{
	margin: 0 auto;
	margin-right: 20px;
	margin-top: 15px;
	width: 700px;
	height: 220px;
	border: 1px solid rgb(233,233,233);
	border-radius: 2px;
	box-shadow: 0 0 4px rgb(222,222,222);
}
.a_post{
	color: rgb(100,100,100);
	text-decoration: none;
	margin-top: 15px;
	float: left;
	margin-left: 20px;
	font-family: icons;
	font-size: 17px;
}
.a_lost{
	color: rgb(100,100,100);
	text-decoration: none;
	float: left;
	margin-left: 40px;
	margin-top: 15px;
	font-family: icons;
	font-size: 17px;
}
.lost_img{
	width: 27px;
	float: left;
}
.inner_img{
	float: left;
}
.inner_span{
	float: left;
	margin-top: 3px;
	margin-left: 2px;
}
.search_form{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}
.search_bar{
	-webkit-appearance: none;
	font-size: 15px;
	font-family: icons;
	border: 1px solid rgb(222,222,222);
	border-radius: 3px;
	line-height: 25px;
	height: 40px;
	width: 240px;
}
.cate{
	margin-left: 245px;
	margin-top: 10px;
	height: 35px;
	width: 560px;
}
.cate_span0{
	color: rgb(50,50,50);
	float: left;
	font-family: icons;
	font-size: 13px;
	margin-left: 20px;
}
.cate_span{
	color: rgb(100,100,100);
	float: left;
	font-family: icons;
	font-size: 13px;
	margin-left: 20px;
	text-decoration: none;
}
.cate_span:hover{text-decoration: underline;}
.post_count{
	color: rgb(100,100,100);
	font-family: icons;
	font-size: 12px;
	float: left;
	margin-left: 180px;
	margin-top: -7px;
}
.user_a{
	color: rgb(100,150,220);
	text-align: left;
	display: block;
	margin-top: 15px;
	margin-left: 35px;
	text-decoration: none;
}
.icon{
	display: block;
	width: 40px;position: absolute;
	box-shadow: 0 0 2px rgb(100,100,100);
}
.name_span{
	display: block;
	position: absolute;
	margin-left: 45px;
	margin-top: 7px;
	font-size: 17px;
	font-family: icons;
}
.time{
	display: block;
	position: absolute;
	margin-left: 490px;
	margin-top: 5px;
	font-size: 12px;
	font-family: icons;
	color: rgb(150,150,150);
}
.clicked{
	margin-left: 625px;
	margin-top: 25px;
	font-size: 12px;
	font-family: icons;
	color: rgb(150,150,150);
	display: block;
	position: absolute;
}
.post_img{
	display: block;
	position: absolute;
	margin-left: 55px;
	margin-top: 58px;
	max-height: 120px;
	max-width: 200px;
	border-radius: 2px;
	box-shadow: 0 0 3px rgb(100,100,100);
}
.article{
	display: block;
	position: absolute;
	font-family: icons;
	margin-left:280px;
	margin-top: 53px;
	height: 125px;
	width: 360px;
}
.article:hover{opacity: 0.9}
.title{
	overflow: hidden;
	text-align: left;
	display: block;
	height: 30px;
	color: rgb(100,100,100);	
}
.content{
	overflow: hidden;
	text-align: left;
	display: block;
	height: 91px;
	color: rgb(60,60,60);
}
.page_turn{
	margin-top: 18px;
	font-family: icons;
	font-size: 15px;
}
.static_page{
	color: rgb(170,170,170);
}
.link_page{
	color: rgb(80,100,100);	
	text-decoration: none;
}
.link_page:hover{
	text-decoration: underline;
}
.chosen{
	color: rgb(100,150,220);
	border-radius: 2px;
}
.nopost{
	width: 400px;
	height: 300px;
	margin-left: 340px;
	margin-top: 70px;
}
.closed{
	width: 220px;
	margin-top: 50px;
	margin-left: 60px;
}
.closed_span{
	font-size: 20px;
	font-family: icons;
	text-align: center;
	color: rgb(100,100,100);
}
.closed_click{
	font-size: 20px;
	font-family: icons;
	text-decoration: none;
	color: rgb(100,100,100);
}
.closed_click:hover{
	text-decoration: underline;
	color: rgb(100, 140, 180);
}
.poster{
	margin: 0 auto;
	margin-top: 20px;
	margin-right: 20px;
	width: 700px;
}
.file_btn{
	display: block;
	position: absolute;
	margin-left: 610px;
}
.title_area{
	float: left;
	-webkit-appearance: none;
	width: 590px;
	height: 40px;
	line-height: 25px;
	padding-left: 10px;
	border: 1px solid rgb(164, 169, 169);
	border-radius: 2px;
	box-shadow: 0 0 2px rgb(164, 169, 169);
	font-family: icons;
	font-size: 15px;
}
.title_area:hover{border: 1px solid #648cb4; box-shadow: 0 0 3px #648cb4
}
.content_area{
	float: right;
	margin-top: 20px;
	-webkit-appearance: none;
	width: 688px;
	height: 300px;
	line-height: 25px;
	padding-left: 10px;
	border: 1px solid rgb(164, 169, 169);
	border-radius: 2px;
	box-shadow: 0 0 2px rgb(164, 169, 169);
	font-family: icons;
	font-size: 15px;
}
.content_area:hover{border: 1px solid #648cb4; box-shadow: 0 0 3px #648cb4
}
.submit{
	display: block;
	position: absolute;
	margin-top: 380px;
}

/*right*/
.main_right{
	margin-top: 66px;
	float: right;
	width: 35%;
}
.msg{
	position: fixed;
	margin-top: 20px;
	border-radius: 2px;
	box-shadow: 0 0 4px rgb(200,200,200);
	width: 280px;
}
.msg_a{
	text-decoration: none;
	font-size: 16px;
	font-family: icons;
	color: rgb(135,140,168);
	display: block;
	border-bottom: none;
	border-top: none;
	height: 50px;
	width: 280px;
}
.msg_a:hover{
	background-color: rgb(235,235,235);
}
.msg_span{
	display: block;
	float: left;
	margin-top: 14px;
	margin-left: 10px;
}
.small_img{
	float: left;
	margin-top: 14px;
	margin-left: 10px;
	width: 20px;
}
.num{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	float: right;
	margin-right: 20px; 
	margin-top: 14px;
	color: white;
	border-radius: 2px;
	min-width: 15px;
}
.num1{background-color: #7D9EC0}
.num2{background-color: #7D9EC0}
.num3{background-color: #FF5A5A}