@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
}
.wrap{
	width:1300px;
	margin:0 auto;
}
.head{
	width: 100%;
	height: 50px;
	/*background: rgb(67, 59, 205);*/
	box-shadow: 1px 2px 6px #06C;
	border-radius:5px;
	margin-top:7px;
}
.main{
	margin-top:15px;
	width:100%;
	overflow: hidden;
}

.foot{
	width:100%;
	height:40px;
	box-shadow: 2px 2px 10px #06C;
	border-radius:5px;
	margin-top:15px;
	margin-bottom:15px;
	overflow:hidden;
}
.div_logo{
	width: 60px;
	height: 30px;
	margin-left: 65px;
	float: left;
}
.div_nav{
	width:350px;
	height:40px;
	margin-left:100px;
	padding-top:7px;
	float:left;
	font-size:12px;
}
.nav_ul{
	padding-left:20px;
	padding-top:11px;
	list-style:none;
}
.nav_li{
	padding-left:35px;
	float:left;
}
.a_li{
	color:#666;
	font-size:15px;
	font-weight:bold;
	text-decoration: none;
}
.a_li:hover{
	color:#07F;
	font-size:16px;
}

/*左——DIV*/
.div_main_left{
	width:65%;
	float:left;
}
/*右——DIV*/
.div_main_right{
	width:30%;
	margin-right:10px;
	float:right;
}
/*头*/
.main_left_top{
	width:100%;
	height:40px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
}
/*种类*/
.main_species{
	width:45%;
	height:35px;	
	margin-top:5px;
	margin-left:60px;
	float:left;
}
.species_ul{
	padding-top:8px;
	list-style:none;
}
.species_li{
	border-right:1px solid #CCC;
	padding-left:30px;
	padding-right:30px;
	float:left;
}
.a_species{
	color:#666;
	font-weight:bold;
	font-size:15px;
	text-decoration: none;
}
.a_species:hover{
	color:#999;
	font-size:16px;
}
/* 搜索 */
.main_search{
	width:40%;
	height:35px;
	margin-top:5px;	
	float:right;
}
/*查询框*/
#search{
	-webkit-appearance:textfield;
	height: 25px;
	width: 158px;
	border: 1px solid #666;
	border-radius: 3px 3px 3px;
	background-color: rgb(250,250,250);
	margin-top:4px;
	margin-right:20px;
	padding-left:10px;
	font-family: YaHei;
	font-size: 14px;
	font-weight: 50;
	float:right;
}
/*----- 头： 菜单，回复/查看，时间 -------*/
.main_left_head{
	width:100%;
	height:30px;	
	border: 1px solid #CCC;
}
/*菜单*/
.head_menu{
	width:60%;
	height:20px;
	float:left;
	margin-top:5px;
	font-size:9px;
}
/*回复*/
.head_reply{
	width:8%;
	height:20px;
	margin-left:162px;
	float:left;
	margin-top:7px;
	font-size:12px;
	color:#666;
}
/*时间*/
.head_date{
	width:8%;
	height:20px;
	float:right;
	margin-top:7px;
	font-size:12px;
	margin-right:18px;
	color:#666;
}

/*----- 每一个帖子 ------*/
.main_left_list{
	width:100%;
	height:50px;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
}
.list_title{
	width:60%;
	height:25px;
	float:left;
	margin-top:15px;
}
.list_reply{
	width:8%;
	height:20px;
	float:left;
	margin-left:170px;
	margin-top:15px;
}
.list_date{
	width:6%;
	height:22px;
	float:right;
	margin-top:5px;
	margin-right:40px;
}
.a_title{
	text-decoration:none;
	color:blue;
	font-size:16px;
	margin-left:50px;
	font-weight:bold;
}
.a_title1{
	text-decoration:none;
	color:red;
	font-size:15px;
	margin-left:50px;
	font-weight:bold;
}
.a_title:hover,.a_title1:hover{
	font-size:17px;
}
.span_reply,.span_date{
	color:#666;
	font-size:12px;
}
/*next*/
.main_left_next{
	width:100%;
	height:30px;	
	margin-top:10px;
	margin-bottom:10px;
	margin-left:420px;
}
.button_next{
	width:50px;
	height:25px;
	border:none;
}
/*右*/
.main_right_post{
	width:345px;
	/*height:45px;*/
	margin-top:5px;
	border:0px solid #000;
}
#post{
	width:110px;
	height:35px;
	color: white;
	border:none;
	cursor:pointer;
	margin-top:5px;
	margin-left:130px;
	background:#06E;
	font-size:14px;
	border-radius:5px;
}
.main_right_law{
	width:100%;
	height:300px;
	margin-top:30px;
	border: 1px solid #999;
}
/**/
/*.main_wrap{
	width:95%;
	float: left;
	margin-left:32px;
	box-shadow: 2px 2px 10px #999;
	margin-top:30px;
	border-radius:5px;
	border-left: 2px solid #999;
	border-right: 1px solid #999;
	border-top: 2px solid #999;
	border-bottom: 1px solid #999;
}*/
.main_right_top{
	width:345px;
	float:left;
	height:120px;
	border:0px solid #63C;
	clear:both;
}
.top_image{
	width:345px;
	height:120px;
	float:left;
	clear:both;
	border:1px solid #999;
	/*z-index: -200px;*/
}
.image{
	width:345px;
	height:120px;
	
}
.top_file{
	margin-top:-120px;
	float:left;
	/*z-index: -200;*/
	
}
.file{
	/*display: inline-block;*/
	width:345px;
	height:120px;
	opacity:0;
    /*position: absolute;*/
	
}
.main_right_middle{
	clear:both;
	width:345px;
	height:80px;
	border:0px solid #63C;
	/*margin-left:120px;*/
}
.middle_left{
	border:0px solid #63C;
	float:left;
	width:80px;
	height:40px;
	margin-top:1px;
	padding-top:20px;
	
}
.span_title{
	padding-top:10px;
	padding-left:1px;
	font-size:32px;
	font-weight:bold;
	font-family:  YaHei;
	color:#ffff;
}
.middle_right{
	padding-top:20px;
	border:0px solid #63C;
	width:255px;
	height:40px;
	/*padding-top:-2px;*/
	float:left;
}

.middle_title{
	width:260px;
	height:40px;
	font-size:30px;
	overflow:hidden;
	webkit-appearance:textfield;
	border:0 ;
	border-bottom:2px solid #808080;
	/*background:;*/
	placeholder:"不超过20个字"

}
.main_right_bottom{
	width:345px;
	height:271px;
	float:left;
	clear:both;
}
.right_bottom{
	width:345px;
	height:270px;
	
	/*box-shadow: 2px 2px 10px #808080;*/
	border-radius:5px;
	border-left: 2px solid #999;
	border-right: 2px solid #999;
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
}
.bottom_text{
	width:345px;
	height:270px;
	border:0 ;
	font-size:15px;
	border-radius:7px;
	overflow:hidden;
}
.main_right_foot{
	width:345px;
	height:50px;
	border:2px solid #999;
}
.foot_left{
	padding-top:10px;
	width:70px;
	height:45px;
	float:right;
	margin-right:10px;
	border:0px solid #00F;
	
}
.foot_right{
	padding-top:10px;
	width:70px;
	height:45px;
	float:right;
	margin-right:10px;
	
	
}
.btn_save{
	width:70px;
	height:35px;
	color:#00F;
	border-radius:5px;
	background:white;
	cursor:pointer;
	border:1px solid #0000a0;
	box-shadow: 2px 2px 10px #808080;
}
.btn_send{
	width:70px;
	height:35px;
	color: white;
	background:#8080ff;
	border-radius:5px;
	cursor:pointer;
	border:1px solid #0000a0;
	box-shadow: 2px 2px 10px #808080;
	
}
