*{
	padding: 0;
	margin: 0;
}

.head_bar{
	position: fixed;
	width: 100%;
	height: 67px;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 2px 5px rgb(224,224,224);
}

.logo{
	display: block;
	padding-top: 5px;
	height: 60px;
	width: 170px;
	font-family: lemon;
	font-size: 38px;
	color: black;
	text-decoration: none;
	margin-left: 30px;
	float: left;
}

.logo:hover{opacity: 0.8;}

.nav_bar{
	display: inline-block;
	margin-left: 40px;
	width: 600px;
	height: 45px;
}

.nav{
	font-family: icons;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	height: 46px;
	width: 100px;
	margin-left:80px;
	padding-top: 20px;
	color: rgb(135,135,135);
}

.nav:hover{
	background-color: rgb(170,170,170);
	color: white;
	box-shadow: 0 0 5px rgb(170,170,170);
}

.bar_btn1{
	position: fixed;
	display: inline-block;
	margin-top: 15px;
	width: 75px;
	height: 40px;
	margin-left: 150px;
	border-radius: 2px;
	border: 1px solid rgb(230,230,230);
	background-color: white;
	font-size: 15px;
	font-family: icons;
	color: rgb(135,135,135);
	z-index: 1;
}

.bar_btn1:hover{
	color: white;
	background-color: rgb(190,190,190);
}

.bar_btn2{
	position: fixed;
	display: inline-block;
	margin-top: 15px;
	width: 75px;
	height: 40px;
	margin-left: 250px;
	border-radius: 2px;
	border: 1px solid rgb(230,230,230);
	background-color: white;
	font-family: icons;
	font-size: 15px;
	color: rgb(135,135,135);
	z-index: 1;
}

.bar_btn2:hover{
	color: white;
	background-color: rgb(190,190,190);
}