*{
	margin:0;
	padding:0;
	text-decoration:none;
}
.main{
	margin-top: 0;
	width:100%;
}
.img{
	width:100%;
}
#container{
	width: 100%;
	height: 500px;
	overflow:hidden;
	position: fixed;
	margin:0 auto;
	margin-top: 65px;
}
#list{
	width:8196px;
	height:500px;
	position:absolute;
	z-index:1;
}
#list img{
	float:left;
	width:1366px;
	height:500px;
}
#buttons{
	position:absolute;
	height:10px;
	width:100px;
	z-index:2;
	bottom:40px;
	margin-left: 47%;
}
#buttons span{
	cursor:pointer;
	height:14px;
	float:left;
	border:1px solid #fff;
	width:14px;
	border-radius:50%;
	background:#333;
	margin-right:5px;
}
#buttons .on{
	background:#09C;
}
.arrow{
	border-radius:5%;
	cursor:pointer;
	display:none;
	line-height:39px;
	text-align:center;
	font-size:33px;
	font-weight:20;
	width:45px;
	height:48px;
	position:absolute;
	z-index:2;
	top:230px;
	background-color:RGBA(0,0,0,.3);
	color:#fff;
	padding-top: 4px;
}
.arrow:hover{
	background-color:RGBA(0,0,0,.7);
}
#container:hover .arrow{
	display:block;
}
#prev{
	left:20px;
}
#next{
	right:20px;
}
	