body{
	text-align: center;
}

.main{
	margin: 0 auto;
	margin-top: 120px;
	width: 550px;
	height: 430px;
	text-align: center;
	border: 1px solid rgb(219,219,219);
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgb(219,219,219);
	background-color: white;
}
.errorput{

}

.logo{
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	padding: 0;
	width: 100px;
	font-size: 60px;
	font-family: Bauhaus93;
	color: rgb(184,0,0);
}

.loginError{
	display: block;
	margin: 0 auto;
	padding-top: 15px;
	width: 200px;
	height: 20px;
	font-family: Arial;
	font-size: 15px;
	color: #C67171;
}

form{
	margin: 0 auto;
	margin-right: 0;
	margin-top: 40px;
	padding: 0;
	height: 210px;
	border-left: 1px solid rgb(220,220,220);
	width: 350px;
}

input{
	padding: 0;
	margin: 0 auto;
	height: 37px;
	width: 270px;
	border: 1px solid rgb(220,220,220);
	border-radius: 3px;
	margin-top: 20px;
	margin-right: -10px;
	background-color: rgb(234,234,234);
}

.forget{
	width: 150px;
	margin: 0 auto;
	margin-top: 10px;
	margin-left: -2px;
	padding: 0;
	display: block;
	color: rgb(180,180,180);
	font-size: 13px;
	font-family: Arial;
}

a:link{text-decoration: none;}
a:hover{text-decoration: underline;}

button{
	margin-top: 0px;
	margin-right: 33px;
	float: right;
	width: 80px;
	height: 35px;
	background-color: rgb(49,99,157);
	border-radius: 3px;
	border: none;
	color: white;
}