body{
	text-align: center;
	font-family: icons;
}

.main{
	margin: 0 auto;
	margin-top: 120px;
	width: 600px;
	height: 430px;
	text-align: center;
	border: 1px solid rgb(219,219,219);
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgb(219,219,219);
	background-color: white;
}

.errorput{

}

.logo{
	display: block;
	margin-top: 10px;
	margin-left: 15%;
	padding: 0;
	width: 100px;
	font-size: 50px;
	font-family: lemon;
	font-weight: 900;
	color: rgb(184,0,0);
}

.descp{
	margin: 0 auto;
	margin-right: 30px;
	font-family: lemon;
	font-size:15px;
	color: rgb(150,150,150);
}

.registe{
	display: block;
	clear: both;
	margin: 0 auto;
	margin-top: 12px;
	margin-right: 5px;
	width: 100px;
	color: rgb(150,150,150);
	font-size: 15px;
	font-family: icons;
}

.loginError{
	display: block;
	margin: 0 auto;
	padding-top: 15px;
	width: 200px;
	height: 20px;
	font-size: 15px;
	color: #C67171;
}

form{
	margin: 0 auto;
	margin-right: 0;
	margin-top: 40px;
	padding: 0;
	height: 210px;
	border-left: 1px solid rgb(220,220,220);
	width: 350px;
}

input{
	padding: 0;
	margin: 0 auto;
	height: 37px;
	width: 270px;
	border: 1px solid rgb(220,220,220);
	border-radius: 3px;
	margin-top: 20px;
	margin-right: -10px;
	background-color: rgb(234,234,234);
}

.forget{
	width: 150px;
	margin: 0 auto;
	margin-top: 10px;
	margin-left: -2px;
	padding: 0;
	display: block;
	color: rgb(180,180,180);
	font-size: 13px;
}

a:link{text-decoration: none;}
a:hover{text-decoration: underline;}

button{
	border-radius: 3px;
	border: none;
	color: white;
}

button:hover{
	opacity: 0.8;
}

.btn_span{
	font-size: 17px;
	float:left;
	margin-left:3px;
	margin-top: 5px;
}

.wechat_btn{
	clear:both;
	background-color: #62b900;
	width: 220px;
	height:45px;
	float: left;
	margin-left: 15px;
	margin-top: 60px;
	box-shadow: 0 0 2px #62b900;
}

.qq_btn{
	clear:both;
	background-color: rgb(14,130,220);
	width: 220px;
	height:45px;
	float: left;
	margin-left: 15px;
	margin-top:20px;
	box-shadow: 0 0 2px rgb(14,130,220);
}

.submit_btn{
	margin-top: 0px;
	margin-right: 33px;
	float: right;
	width: 80px;
	height: 35px;
	background-color: rgb(49,99,157);
}

.foot{
	width: 370px;
	margin: 0 auto;
	clear: both;
	margin-top: 22px;
	margin-left: 20px;
	font-size: 13px;
	font-family: icons;
}

.foot_a{
	color: rgb(170,170,170);
	margin-left: 30px;
}

.foot_a:link{
	text-decoration: none;
}
.foot_a:hover{
	text-decoration: underline;
}