
*{
	margin:0;
	padding:0;
}
.wrap{
	width:100%;
	height:920px;
	background:url({static/img/first_page3.png) no-repeat top left;
	padding-top:50px;
}
/*注册容器*/
.registCon{
	width:550px;
	height:550px;
	margin:0 auto;
	background:white;
	filter:alpha(opacity=95);
	box-shadow: 2px 2px 10px #06C;
	border-radius:7px;
}
/*logo部分*/
.regist_logo{
	width:100%;
	height:15%;
}
#img_logo{
	width:193px;
	height:78px;
	margin-top:30px;
	margin-left:170px;
}
/*表单部分*/
.regist_middle{
	width:100%;
	height:75%;
}
/*底部*/
.regist_foot{
	width:100%;
	height:5%;
}
/*表格*/
.form_table{
	width:450px;
	height:300px;
	margin:40px 120px;
}
tr{
	height:55px;
}
.td_left{
	width:100px;
	font-weight:700;
	text-align:left;
}
.td_middle{
	width:200px;
	text-align:left;
}
.td_right{
	width:150px;
	text-align:left;
	font-size:10px;
}
select{
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
}
.border{
	
}
#kind,#username,#password,#password2,#phone{
	width:170px;
	height:30px;
	padding-left:10px;
	outline:none;
}
#btn_regist{
	margin-top:20px;
    display: block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: #25c7ff;
    color: white;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
}
.useExsist{
	width:100px;
	margin-left:440px;
	margin-top:10px;
}