*{
    font-family: icons;
    padding: 0;
    margin: 0 auto;
}
.wrapper{
    width: 100%;
    padding-top: 90px;
}
.main{
    width: 70%;
}
.logo{
    font-family: lemon;
    font-size: 60px;
    text-decoration: none;
    font-weight: 900;
	color: rgb(184,0,0);
}
.descp{
    font-family: lemon;
	font-size:15px;
	color: rgb(150,150,150);
    display: block;
    margin-left: 100px;
}