.tail{
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
}
.inner_tail{
    height: 45px;
    width: 100%;
    background-color: rgba(122, 122, 122, 0.7);
}
.tail_links{
    float: right;
    margin-top: 13px;
    margin-right: 80px;
}
.links{
    text-decoration: none;
    font-family: icons;
    font-size: 13px;
    color: white;
    margin-left: 10px;
}
.links:hover{text-decoration: underline}
.copyright{
    float: left;
    font-size: 13px;
    font-family: icons;
    color: white;
    margin-top: 13px;
    margin-left: 500px;
}