<!DOCTYPE html>
<html>
<head>
	<title>成功！！</title>
    <link rel="stylesheet" type="text/css" href="css/actived.css">
</head>
<body class="body">

<div class="div_left">
	<img src="img/Ok.png" class="img">
</div>

<div class="div_right">
	<div class="div_btn1">
    	<div class="btn"><button class="button"><a href="#" class="a">我要去登录Go></a></button></div>
    </div>
	<div class="div_span">
    	<span class="span">恭喜你，账号已经激活啦^_^</span>
    </div>
    <div class="div_btn2">
    	<div class="btn1"><button class="button1"><a href="#" class="a1">Look主页</a></button></div>
        <div class="div_span1"><span class="span1">OR</span></div>
        <div class="btn2"><button class="button2"><a href="#" class="a1">个人中心</a></button></div>
    </div>
</div>

</body>
</html>
<!-- 文字提示：账号已激活！
	链接：登录 主页 个人中心-->