<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/adopt.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tail.css' %}">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <title>nostray - adopt</title>
<style type="text/css">
    @font-face {
      font-family: icons;
      src: url("{% static 'font/icons.woff2' %}");
    }
    @font-face {
      font-family: lemon;
      src: url("{% static 'font/AaMissLemon.ttf' %}");
    }
</style>
</head>
<body>
<div class="head_bar" >
    <a class="logo" href="{% url 'index' %}">Nostray</a>
    <div class="nav_bar">
        <a class="nav" href="{% url 'adopt:market' %}">领养</a>
        <a class="nav" href="{% url 'community:allpost' %}">社区</a>
        <a class="nav" href="">公益</a>
    </div>
    {% if request.user.is_authenticated %}
    <div class="current_user"><a href="">
    <img src="{{ MEDIA_URL }}{{ icon }}" title="登录状态：{{ user }}" class="curr_icon">
    </a></div>
    {% else %}
    <button class="bar_btn1" onclick="location.href={% url 'login' %}">登录</button>
    <button class="bar_btn2" onclick="location.href={% url 'registe' %}">注册</button>
    {% endif %}
</div>


ssssssss

<div class="tail" id="tail">
</div>
<script>
    $(window).scroll(function(){
　　var scrollTop = $(this).scrollTop()
　　var scrollHeight = $(document).height()
　　var windowHeight = $(this).height()
　　if(scrollTop + windowHeight == scrollHeight){
　　　　$("#tail").html("<div class='inner_tail'>" +
        "<div class='tail_links'>" +
        "<a class='links' href=''>法律法规</a><a class='links' href=''>商业合作</a>" +
        "<a class='links' href=''>联系我们</a><a class='links' href=''>关于我们</a>" +
        "</div>" +
        "<span class='copyright'>Copyright © 2017 nostray 鲁ICP备17014163号</span>" +
        "</div>")
　　} else {
      $("#tail").html("")
  }
})
</script>
</body>
</html>