{% extends 'adopt_station.html' %}
{% load staticfiles %}
{% load i18n %}


{% block name1 %}流浪动物{% endblock %}
{% block name2 %}救助站{% endblock %}
{% block href %}{% url 'adopt:stations' %}{% endblock %}

{% block contains %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/adopt_animal.css' %}">
    {% for animal in all_stray.object_list %}
        <div class="cell">
            <img class="animal_tumb" src="{{ MEDIA_URL }}{{ animal.photo }}">
            <span class="name">{{ animal.name }}</span>
            <label>种类:</label><a href="">{{ animal.species }}</a>
            <label>救助站:</label><a href="">{{ animal.station_id.username }}</a>
            <span class="price_lable">价格：</span>
            <span class="price {% if animal.price == '免费' %}free{% elif animal.price == '咨询' %}consult{% else %}notfree{% endif %}">
            {% if animal.price == '免费' or animal.price == '咨询' %}
            {{ animal.price }}{% else %}{{ animal.price }}¥
            {% endif %}</span>
            <span class="clicked">{{ animal.click_num }}</span>
        </div>
    {% endfor %}

        <div class="page_turn">
        {% if all_stray.has_previous %}
        <a href="?{{ all_stray.previous_page_number.querystring }}" class="link_page">{% trans "上一页" %}</a>
        {% else %}
        <span class="static_page">{% trans "上一页" %}</span>
        {% endif %}

        {% for page in all_stray.pages %}
        {% if page %}
            {% ifequal page all_stray.number %}
                <span class="static_page">{{ page }}</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="link_page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
        {% endfor %}

        {% if all_stray.has_next %}
        <a href="?{{ all_stray.next_page_number.querystring }}" class="link_page">{% trans "下一页" %}</a>
        {% else %}
        <span class="static_page">{% trans "下一页" %}</span>
        {% endif %}
    </div>
{% endblock %}