{% extends 'HeadAndTail.html' %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adopt_station.css' %}">
{% endblock %}

{% block title %}nostray - 领养{% endblock %}

{% block content %}
<div class="operate_bar">
    <span class="mod_choice">选择浏览方式：</span>
    <div class="showmenu">
    <ul  class="menu">
        <li class="ul_li" id="li0"><a href="" id="a0" class="menu_a">{% block name1 %}救助站{% endblock %}</a>
          <ul class="ul_li_ul">
             <li class="ul_li_ul_li" id="li1"><a href="" id="a1" class="menu_a">{% block name2 %}流浪动物{% endblock %}</a></li>
          </ul>
        </li>
    </ul><script>$('#a1').on('click', function () {
        window.location.href = ({% block href %}{% url 'adopt:animals' %}{% endblock %})
    })</script>
    </div><script src="{% static 'js/show_menu.js' %}"></script>
<input type="search" placeholder="搜索救助站，动物品种" id="search">
<input type="button" value="搜索" class="searchBtn">
<span class="hot">热门搜索：&nbsp;&nbsp;<a href="" class="hot_link">啊啊啊啊</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="hot_link">啊啊啊啊</a>
    &nbsp;&nbsp;&nbsp;<a href="" class="hot_link">啊啊啊啊</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="hot_link">啊啊啊啊</a></span>
</div>
<div class="main">
    <div class="cell_container">
    {% block contains %}
    {% for station in all_stations.object_list %}
        <div class="cell">{{ station.username }}</div>
    {% endfor %}

        <div class="page_turn">
        {% if all_stations.has_previous %}
        <a href="?{{ all_stations.previous_page_number.querystring }}" class="link_page">{% trans "上一页" %}</a>
        {% else %}
        <span class="static_page">{% trans "上一页" %}</span>
        {% endif %}

        {% for page in all_stations.pages %}
        {% if page %}
            {% ifequal page all_stations.number %}
                <span class="static_page">{{ page }}</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="link_page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
        {% endfor %}

        {% if all_stations.has_next %}
        <a href="?{{ all_stations.next_page_number.querystring }}" class="link_page">{% trans "下一页" %}</a>
        {% else %}
        <span class="static_page">{% trans "下一页" %}</span>
        {% endif %}
    </div>
        {% endblock %}
    </div>
<div class="filter">

</div>

</div>
{% endblock %}