<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>GiveAway</title>
<link rel="stylesheet" type="text/css" href="./css/giveaway_list.css">
<link rel="stylesheet" type="text/css" href="./css/back_top.css">
<script type="text/javascript" src="js/back_top.js"></script>
</head>
<body>
<div class="wrap">
	<div class="head">
    	<div class="div_logo">
        	<a class="a_logo" href="index.html">
            	<img src="./img/logo.png" style="max-width:120px; max-height:50px;" />
            </a>
        </div>
   		<div class="div_nav">
        	<ul class="nav_ul">
            	<li class="nav_li"><a href="station_list.html" class="a_li">领养</a></li>
                <li class="nav_li"><a href="giveaway_list.html" class="a_li">社区</a></li>
                <li class="nav_li"><a href="#" class="a_li">个人中心</a></li>
            </ul>
		</div>
    </div>
    <div class="main">
        <div class="div_main_left">
        	<!-- 种类 -->
            <div class="main_left_top">
                <div class="main_species">
                    <ul class="species_ul">
                        <li class="species_li"><a class="a_species" href="#">猫</a></li>
                        <li class="species_li"><a class="a_species" href="#">狗</a></li>
                        <li class="species_li"><a class="a_species" href="#">羊</a></li>
                        <li class="species_li"><a class="a_species" href="#">其他</a></li>
                    </ul>
                </div>
                <div class="main_search">
                    <input type="search" name="search" id="search" placeholder="Search" />
                </div>
            </div>
            <!-- 头部 -->
            <div class="main_left_head">
            	<!-- 菜单 -->
            	<div class="head_menu"></div>
                <!-- 查看回复人数 -->
                <div class="head_reply">回复/查看</div>
                <!-- 发帖时间 -->
                <div class="head_date">发布时间</div>
            </div>
            <!-- 每一个帖子 -->
            <div class="main_left_list" id="main_left_list1">
            	<div class="list_title" id="list_title1"> 
            		<a href="#" class="a_title1">我在潍坊学院北门，发现一只流浪狗 </a>
            	</div>
                <div class="list_reply" id="list_reply1"> <span class="span_reply">6/2056</span> </div>
                <div class="list_date" id="list_date1"> <span class="span_date">2016/05/14 20:04:59</span> </div>
            </div>
            <div class="main_left_list" id="main_left_list1">
            	<div class="list_title" id="list_title1"> 
            		<a href="#" class="a_title1">高品质纯种金毛幼犬 幼犬待售中 专业繁殖品质保障 </a>
            	</div>
                <div class="list_reply" id="list_reply1"> <span class="span_reply">6/2056</span> </div>
                <div class="list_date" id="list_date1"> <span class="span_date">2016/05/14 20:04:59</span> </div>
            </div>
            <div class="main_left_list" id="main_left_list1">
            	<div class="list_title" id="list_title1"> 
            		<a href="#" class="a_title">纯种金毛犬多少钱一只? 选金毛萌宠就来找我  </a>
            	</div>
                <div class="list_reply" id="list_reply1"> <span class="span_reply">6/2056</span> </div>
                <div class="list_date" id="list_date1"> <span class="span_date">2016/05/14 20:04:59</span> </div>
            </div>
            <div class="main_left_list" id="main_left_list1">
            	<div class="list_title" id="list_title1"> 
            		<a href="#" class="a_title">自家金毛产的六只小狗，求好心人收养 </a>
            	</div>
                <div class="list_reply" id="list_reply1"> <span class="span_reply">6/2056</span> </div>
                <div class="list_date" id="list_date1"> <span class="span_date">2016/05/14 20:04:59</span> </div>
            </div>
            <div class="main_left_list" id="main_left_list1">
            	<div class="list_title" id="list_title1"> 
            		<a href="#" class="a_title">专业繁殖高品质纯种金毛 双血统 基因优良 欢迎选购</a>
            	</div>
                <div class="list_reply" id="list_reply1"> <span class="span_reply">6/2056</span> </div>
                <div class="list_date" id="list_date1"> <span class="span_date">2016/05/14 20:04:59</span> </div>
            </div>
            <div class="main_left_list" id="main_left_list1">
            	<div class="list_title" id="list_title1"> 
            		<a href="#" class="a_title">日本柴犬哪里卖?丨快来这里错不了 </a>
            	</div>
                <div class="list_reply" id="list_reply1"> <span class="span_reply">6/2056</span> </div>
                <div class="list_date" id="list_date1"> <span class="span_date">2016/05/14 20:04:59</span> </div>
            </div>
            <div class="main_left_list" id="main_left_list1">
            	<div class="list_title" id="list_title1"> 
            		<a href="#" class="a_title">金毛幼犬疫苗齐全、保纯种健康签协议、免费送货 </a>
            	</div>
                <div class="list_reply" id="list_reply1"> <span class="span_reply">6/2056</span> </div>
                <div class="list_date" id="list_date1"> <span class="span_date">2016/05/14 20:04:59</span> </div>
            </div>
            <div class="main_left_list" id="main_left_list1">
            	<div class="list_title" id="list_title1"> 
            		<a href="#" class="a_title">拉布拉多疫苗齐全、保纯种健康签协议、免费送货 </a>
            	</div>
                <div class="list_reply" id="list_reply1"> <span class="span_reply">6/2056</span> </div>
                <div class="list_date" id="list_date1"> <span class="span_date">2016/05/14 20:04:59</span> </div>
            </div>
            
         
            <div class="main_left_next">
            	<input type="button" value="下一页" name="next" onClick="" class="button_next">
            </div>
        </div>       
        <div class="div_main_right">	
            <div class="main_right_post">
            	<!--input type="button" id="post" value="发&nbsp;&nbsp;&nbsp;&nbsp;帖" /-->
                <div class="main_right_top">
                    <div class="top_image">
                    <img src="img/top_image.png" class="image"/>
                    </div>
                    <div class="top_file">
                    <input type="file" name="top_file" id="top_file" class="file">
                    </div>
    			</div>
    			<div class="main_right_middle">
                    <div class="middle_left">
                        <span class="span_title">标题</span>
                    </div>
                    <div class="middle_right">
                        <input type="text" class="middle_title" id="title" name="title"  placeholder="不超过20个字"/>
                    </div>
    			</div>
                <div class="main_right_bottom">
                    <div class="right_bottom">
                        <textarea class="bottom_text" name="text" id="text"  rows="" cols=""></textarea>
                    </div>
                </div>
                <div class="main_right_foot">
                    <div class="foot_left">
                        <input type="button" id="btn_send" name="btn_send" class="btn_send" value="发帖"/>
                    </div>
                    <div class="foot_right">
                        <input type="button" id="btn_save" name="btn_save" class="btn_save" value="保存"/>
                    </div>
    			</div>
            </div>
            <!--div class="main_right_law"></div-->
        </div>
    </div>
    <div class="foot"></div>
</div>
<!-- 点击回到顶部 -->
<a href="javascipt:;" id="back_top" title="回到顶部"></a>
</body>
</html>