<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/community.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}">
<title>nostray - Community</title>
<style type="text/css">
    @font-face { 
      font-family: icons; 
      src: url("{% static 'font/icons.woff2' %}");
    }
    @font-face {
      font-family: lemon; 
      src: url("{% static 'font/AaMissLemon.ttf' %}");
    }
</style>
</head>
<body>
<div class="head_bar" >
    <a class="logo" href="{% url 'index' %}">Nostray</a>
    <div class="nav_bar">
        <a class="nav" href="{% url 'adopt' %}">领养</a>
        <a class="nav" href="{% url 'community' %}">社区</a>
        <a class="nav" href="">公益</a>
    </div>
    <button class="bar_btn1" onclick="location.href={% url 'login' %}">登录</button>
    <button class="bar_btn2" onclick="location.href={% url 'registe' %}">注册</button>
</div>
<div class="main_left">
    <div class="left_bar">
        <a class="a_post" href="#title">
        <img class="inner_img" src="{% static 'img/post.png' %}">
        <span class="inner_span">发布消息</span>
        </a>
        <a class="a_lost" href="">
        <img class="lost_img" src="{% static 'img/lost.png' %}">
        <span class="inner_span">宠物丢失</span>
        </a>
        <form action="" class="search_form">
        <input type="search" name="search" class="search_bar" placeholder="搜索">
        </form>
    </div>
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
<form action="" class="poster">
    <input type="file" name="image" class="post_area">
    <input type="text" name="title" id="title" class="post_area">
    <input type="text" name="content" class="post_area">
</form>
</div>
<div class="main_right">
    <div class="msg">
        <a href="" class="msg_a">
            <img src="{% static 'img/star.png' %}" class="small_img">
            <span class="msg_span">我的收藏</span>
            <span class="num num1">3</span>
        </a>
        <a href="" class="msg_a">
            <img src="{% static 'img/article.png' %}" class="small_img">
            <span class="msg_span">我的帖子</span>
            <span class="num num2">3</span>
        </a>
        <a href="" class="msg_a">
            <img src="{% static 'img/bell.png' %}" class="small_img">
            <span class="msg_span">我的消息</span>
            <span class="num num3">99</span>
        </a>
    </div>
</div>
</body>
</html>