<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load i18n %}
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/community.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}">
<script src="{% static 'js/poster_check.js' %}"></script>
<title>nostray - Community</title>
<style type="text/css">
    @font-face { 
      font-family: icons; 
      src: url("{% static 'font/icons.woff2' %}");
    }
    @font-face {
      font-family: lemon; 
      src: url("{% static 'font/AaMissLemon.ttf' %}");
    }
</style>
</head>
<body>
<div class="head_bar" >
    <a class="logo" href="{% url 'index' %}">Nostray</a>
    <div class="nav_bar">
        <a class="nav" href="{% url 'adopt' %}">领养</a>
        <a class="nav" href="{% url 'community:allpost' %}">社区</a>
        <a class="nav" href="">公益</a>
    </div>
    {% if request.user.is_authenticated %}
    <div><!-- 登录后显示 --></div>
    {% else %}
    <button class="bar_btn1" onclick="location.href={% url 'login' %}">登录</button>
    <button class="bar_btn2" onclick="location.href={% url 'registe' %}">注册</button>
    {% endif %}
</div>
<div class="main_left">
    <div class="left_bar">
        <a class="a_post" href="#title">
        <img class="inner_img" src="{% static 'img/post.png' %}">
        <span class="inner_span">发布消息</span>
        </a>
        <a class="a_lost" href="">
        <img class="lost_img" src="{% static 'img/lost.png' %}">
        <span class="inner_span">宠物丢失</span>
        </a>
        <form action="" class="search_form">
        <input type="search" name="search" class="search_bar" placeholder="搜索">
        </form>
    </div>
    <div class="cate">
    <span class="cate_span0">按动物类别：</span>
    <a href="?kind={{ post_kind }}&{{ sort }}">
    <span class="cate_span {% ifequal animal_kind '' %}chosen{% endifequal %}">全部</span>
    </a>
    <a href="?animal=dog&kind={{ post_kind }}&{{ sort }}">
    <span class="cate_span {% ifequal animal_kind 'dog' %}chosen{% endifequal %}">狗</span>
    </a>
    <a href="?animal=cat&kind={{ post_kind }}&{{ sort }}">
    <span class="cate_span {% ifequal animal_kind 'cat' %}chosen{% endifequal %}">猫</span>
    </a>
    <a href="?animal=other&kind={{ post_kind }}&{{ sort }}">
    <span class="cate_span {% ifequal animal_kind 'other' %}chosen{% endifequal %}">其他</span>
    </a>
    
    <span class="cate_span0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;排序：</span>
        <a href="?kind={{ post_kind }}&animal={{ animal_kind }}" class="cate_span {% ifequal sort '' %}chosen{% endifequal %}">不限</a>
        <a href="?sort=add_time&kind={{ post_kind }}&animal={{ animal_kind }}" class="cate_span {% ifequal sort 'add_time' %}chosen{% endifequal %}">时间</a>
        <a href="?sort=comment_num&kind={{ post_kind }}&animal={{ animal_kind }}" class="cate_span {% ifequal sort 'comment_num' %}chosen{% endifequal %}">回复</a>
        <a href="?sort=likes&kind={{ post_kind }}&animal={{ animal_kind }}" class="cate_span {% ifequal sort 'likes' %}chosen{% endifequal %}">点赞</a>
<br/>
    <span class="cate_span0">按帖子种类：</span>
    <a href="?animal={{ animal_kind }}&{{ sort }}">
    <span class="cate_span {% ifequal post_kind '' %}chosen{% endifequal %}">全部</span>
    </a>
    <a href="?kind=NE&animal={{ animal_kind }}&{{ sort }}">
    <span class="cate_span {% ifequal post_kind 'NE' %}chosen{% endifequal %}">流浪动物</span>
    </a>
    <a href="?kind=TS&animal={{ animal_kind }}&{{ sort }}">
    <span class="cate_span {% ifequal post_kind 'TS' %}chosen{% endifequal %}">文章</span>
    </a>
    <a href="?kind=GV&animal={{ animal_kind }}&{{ sort }}">
    <span class="cate_span {% ifequal post_kind 'GV' %}chosen{% endifequal %}">发布</span>
    </a>
    <a href="?kind=WT&animal={{ animal_kind }}&{{ sort }}">
    <span class="cate_span {% ifequal post_kind 'WT' %}chosen{% endifequal %}">寻求</span>
    </a>
    </div>
    <span class="post_count">共计：{{ post_num }}条</span>
    {% ifequal post_num 0 %}
    <div class="nopost">
    <span class="closed_span">暂时没有帖子，</span>
    <a href="#title" class="closed_click">点击发表</a><br/>
    <img src="{% static 'img/closed.png' %}" class="closed">
    </div>
    {% else %}
    {% for post in all_posts.object_list %}
    <div class="post">
        <a href="" class="user_a">
        <img class="icon" src="{{ post.icon.icon.url }}">
        <span class="name_span">{{ post.user.username }}</span>
        </a>
        <span class="time">发表时间：{{ post.add_time }}</span>
        <span class="clicked">回复：{{ post.comment_num }}</span>
        <a href="">
        <img class="post_img" src="{{ MEDIA_URL }}{{ post.image }}">
        <div class="article">
        <h3 class="title">{{ post.title }}</h3>
        <span class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.content }}</span>
        </div>
        </a>
    </div>
    {% endfor %}
    {% endifequal %}
    <div class="page_turn">
        {% if all_posts.has_previous %}
        <a href="?{{ all_posts.previous_page_number.querystring }}" class="link_page">{% trans "上一页" %}</a>
        {% else %}
        <span class="static_page">{% trans "上一页" %}</span>
        {% endif %}

        {% for page in all_posts.pages %}
        {% if page %}
            {% ifequal page all_posts.number %}
                <span class="static_page">{{ page }}</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="link_page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
        {% endfor %}

        {% if all_posts.has_next %}
        <a href="?{{ all_posts.next_page_number.querystring }}" class="link_page">{% trans "下一页" %}</a>
        {% else %}
        <span class="static_page">{% trans "下一页" %}</span>
        {% endif %}
    </div>
<!--form action="" method="post" class="poster" id="posterForm">

    <input type="file" accept="image/png,image/gif,image/jpeg" id="img_input" class="file_btn" onchange="imgChange(this.value)">
    <input type="button" class="file_front_btn" value="选择图片" name="image">
    <input type="text" name="title" id="title" class="title_area" placeholder="标题（不超过20字）：" onchange="titleChange(this.value)">
    <span class="img_root">已选图片：<span id="img_root" class="hidden">无</span></span>
    <textarea name="content" id="content" name="content" class="content_area" placeholder="输入内容（不超过2000字）：" onchange="contentChange(this.value)"></textarea>
    <div id="title_error"></div>
    <div id="content_error"></div>
    <input type="button" class="submit" id="submitBtn" value="发布" onclick="poster_submit()">
    <div id="img_error"><script>alert("{{ msg }}")</script></div>
</form-->
<form action="{% url 'community:allpost' %}" method="post" class="poster" id="posterForm">
    {% csrf_token %}
    <input type="file" accept="image/png,image/gif,image/jpeg" id="img_input" class="file_btn" onchange="imgChange(this.value)>
    <input type="button" class="file_front_btn" value="选择图片" name="image">
    <input type="text" name="title" id="title" class="title_area" placeholder="标题（不超过20字）：">
    <span class="img_root">已选图片：<span id="img_root" class="hidden">无</span></span>
    <textarea name="content" id="content" name="content" class="content_area" placeholder="输入内容（不超过2000字）："></textarea>
    <div id="title_error"></div>
    <div id="content_error"></div>
    <input type="button" class="submit" id="submitBtn" value="发布">
    <div id="img_error"></div>
</form>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
</script>
<script>
    $(document).ready(function () {
        $("#submitBtn").click(function () {
            $.ajax({
                type:"POST",
                url:"{% url 'community:poster' %}",
                dataType:"json",
                data:{
                    title:$("#title").val(),
                    content:$("#content").val(),
                    image:$("#image").val(),
                },
                success:function(data){
                    if (data.success){
                        $("#img_error").html(data.msg)
                    } else {
                        $("#img_error").html(data.msg)
                    }
                },
                error:function (jqXHR) {
                    alert("发生错误："+jqXHR.status)
                }
            })
        })
    })
</script>
<div class="main_right">
    <div class="msg">
        <a href="" class="msg_a">
            <img src="{% static 'img/star.png' %}" class="small_img">
            <span class="msg_span">我的收藏</span>
            <span class="num num1">{{ my_fav_num }}</span>
        </a>
        <a href="" class="msg_a">
            <img src="{% static 'img/article.png' %}" class="small_img">
            <span class="msg_span">我的帖子</span>
            <span class="num num2">{{ my_posts_num }}</span>
        </a>
        <a href="" class="msg_a">
            <img src="{% static 'img/bell.png' %}" class="small_img">
            <span class="msg_span">我的消息</span>
            <span class="num num3">{{ my_msg_num }}</span>
        </a>
    </div>
</div>
</body>
</html>