<!DOCTYPE html>
<html>
<head>
	<title>忘记密码</title>
    <link rel="stylesheet" type="text/css" href="css/forgetPass.css">
    <style type="text/css">
		@font-face { 
		  font-family: Bauhaus93; 
		  src: url("font/Bauhaus93.TTF");
		}
	</style>
    <script type="text/javascript" src="js/forgetPass.js"></script>
</head>
<body>
<form >
<div class="div_top">
	<span class="logo">nostray</span>
</div>

<div class="div_mid">
	<div class="div_input1">
		<input type="text" name="email" placeholder="电子邮箱" class="input1"/>
    </div>
    <div class="div_btn">
    	<div class="btn"><button class="button">Send&nbsp;></button></div>
    </div>
    <div class="div_input2">
    	<input type="text" name="yanzhengma" placeholder="验证码" class="input2"/>
    </div>
</div>
    
	<!--留一个空行，跟邮箱域一样高度，只空出来不写-->
</form>
</body>
</html>

<!-- 一个简单的form，input里是填邮箱，按钮发送（js里写submit） -->