<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}">
<style type="text/css">
	@font-face { 
	  font-family: icons; 
	  src: url("{% static 'font/icons.woff2' %}");
	}
	@font-face {
	  font-family: lemon; 
	  src: url("{% static 'font/AaMissLemon.ttf' %}");
	}
</style>
	<title>nostray</title>
</head>
<body>
<div class="head_bar" >
	<a class="logo" href="{% url 'index' %}">Nostray</a>
	<div class="nav_bar">
		<a class="nav" href="{% url 'adopt' %}">领养</a>
		<a class="nav" href="{% url 'community' %}">社区</a>
		<a class="nav" href="">公益</a>
	</div>
	<div class="buttons">
		<button></button>
		<button></button>
	</div>
</div>
</body>
</html>