{% extends 'HeadAndTail.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block title %}nostray - 首页{% endblock %}

{% block content %}
<div class="main" id="container" style="z-index: 0;">
  	<div id="list" style="left:-1366px">
    	<img alt="" src="{% static 'img/login_bg.png' %}" class="img">
    	<img alt="" src="" class="img">
        <img alt="" src="" class="img">
        <img alt="" src="" class="img">
        <img alt="" src="" class="img">
        <img alt="" src="" class="img">
    </div>
    <div id="buttons">
    	<span index="1" class="on"></span>
        <span index="2"></span>
        <span index="3"></span>
        <span index="4"></span>
    </div>
    <a href="javascript:;" class="arrow" id="prev">&lt;</a>
    <a href="javascript:;" class="arrow" id="next">&gt;</a>
  </div>
{% endblock %}