{% extends 'HeadAndTail.html' %}
{% load staticfiles %}

{% block title %}nostray - {{ post.title }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pContent.css' %}">
{% endblock %}

{% block content %}
<div class="wrap">
    <div class="main">
	<div class="top">
        	<a href="{% url 'center:home' post.user.id %}">
                <img class="avatar" src="{{ MEDIA_URL }}{{ post.user.icon }}"/>
            </a>

        <div class="info">
        	<span class="user"><a href="{% url 'center:home' post.user.id %}">{{ post.user.username }}</a></span>
            <span class="post_date">发表于：{{ post.add_time }}</span>
        </div>

        	<span class="title" title="">{{ post.title }}</span>

    <button id="collect">
        {% if not exist_fav %}
        &hearts;&nbsp;收藏
        {% else %}
        已收藏
        {% endif %}
    </button>

    </div>
    <img>
    <div class="content">
    	<article class="content_span">&nbsp;&nbsp;&nbsp;&nbsp;{{ post.content }}</article>
    </div>

</div>

    <div class="comment">
    <input type="hidden" id="thispost" value="{{ post.id }}">
    <input type="hidden" id="csrf" value="{{ csrf_token }}">
    <input type="text" id="comment_content">
    <input type="button" id="submit" value="回复">
    {% for comment in all_comment %}
        <div class="comment_cell">
        <a href="{% url 'center:home' comment.user.id %}">
            <img src="{{ MEDIA_URL }}{{ comment.user.icon }}" class="comment_avatar">
            <span class="comment_user">{{ comment.user.username }}</span>
        </a>
            {% if comment.image %}
            <img src="{{ MEDIA_URL }}{{ comment.image }}" class="comment_image">
            {% endif %}
            <span>{{ comment.content }}</span>
        </div>
    {% endfor %}
    </div>
</div>
<div class="operate">
    <a href="#">
        <img src="{% static 'img/share.png' %}" class="share_img" />
    </a>
    <a href="#" class="foot_a">分享</a>

    <a href="#">
        <img src="{% static 'img/comment.png' %}" class="comment_img" />
    </a>
    <a href="#" class="foot_a">评论(1440)</a>

    <a href="#">
        <img id="praise" src="{% static 'img/like.png' %}" class="like_img"/>
    </a>
    <a href="#" class="foot_a">赞(161)</a>
</div>
    <script src="{% static 'js/collect.jQuery.js' %}"></script>
    <script type="text/javascript">
    $('#collect').on('click', function () {
        add_fav($(this), {{ post.id }}, 'post', '{{ csrf_token }}')
    })
    </script>
    <script src="{% static 'js/comment.jQuery.js' %}"></script>
    <div style="height: 100px;"></div>

<div class="empty"></div>
{% endblock %}