<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>nostray : Join us</title>
<link rel="stylesheet" type="text/css" href="/static/css/regist.css">
<script type="text/javascript" src="/static/js/regist_check.js"></script>
</head>

<body>

<div class="wrap">
	<div class="registCon">
    	<div class="regist_logo">
        	<img src="/static/img/logo.png" alt="无法加载图片" id="img_logo"/>
        </div>
        <div class="regist_middle">
        	<div class="regist_form">
            	<form action="#" method="post" name="form">
                {% csrf_token %}
                    <table class="form_table" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="td_left">用户名</td>
                            <td class="td_middle">
                                <input type="text" class="border" id="username" name="username" required="required" placeholder="用户名" onchange="CheckUsername(this.value)" value="" />
                            </td>
                            <td class="td_right" id="name_feedback"></td>
                        </tr>
                        <tr>
                            <td class="td_left">密码</td>
                            <td class="td_middle">
                                <input type="password" class="border" id="password1" name="password" required="required" placeholder="密码" onchange="CheckPwd1(this.value)" value=""/>
                            </td>
                            <td class="td_right" id="pwd_feedback1"></td>
                        </tr>
                        <tr>
                            <td class="td_left">确认密码</td>
                            <td class="td_middle">
                                <input type="password" class="border" id="password2" name="password2" required="required" placeholder="确认密码" onchange="CheckPwd2(this.value)" value="" />
                            </td>
                            <td class="td_right" id="pwd_feedback2"></td>
                        </tr>
                        <tr>
                            <td class="td_left">账户类型</td>
                            <td class="td_middle">
                                <select class="border" name="kind" id="kind">
                                    <option value="individual" selected>个人</option>
                                    <option value="station">救助站</option>
                                    <option value="org">团体组织</option>
                                </select>
                            </td>
                            <td class="td_right"></td>
                        </tr>
                        <tr>
                            <td class="td_left">电话</td>
                            <td class="td_middle">
                            	<input type="text" class="border" id="phone" name="phone" placeholder="电话"/>
                            </td>
                            <td class="td_right"></td>
                        </tr>
                        <tr>
                            <td class="td_middle" colspan="3">
                            	<button name="submit" class="btn" onclick="Submit()">注册</button>
                            </td>
                        </tr>                      
                    </table>
                </form>
                <a class="useExsist" href="">用已有账号登录</a>
        </div>
        <div class="regist_foot"></div>
    </div>
</div>
</body>
</html>
