<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>nostray : Join us</title>
    <style type="text/css">
    @font-face {
      font-family: icons;
      src: url("{% static 'font/icons.woff2' %}");
    }
    @font-face {
      font-family: lemon;
      src: url("{% static 'font/AaMissLemon.ttf' %}");
    }
</style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registe.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="main">
        <a href="{% url 'index' %}" class="logo">Nostray</a>
        <span class="descp">一个为了全体流浪动物和流浪动物救助站的公益平台</span>
        <form action="" method="post">
        {% csrf_token %}
        
        </form>
    </div>
</div>
</body>
</html>