<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>救助站</title>
<link rel="stylesheet" type="text/css" href="/static/css/station_list.css">
<!--<link rel="stylesheet" type="text/css" href="/static/css/back_top.css">
<script type="text/javascript" src="/static/js/back_top.js"></script>-->
<style type="text/css">
img{
	max-width:180px;
	max-height:180px;
	border-radius:100px; 
}
</style>
</head>
<body>
<div class="wrap">
  <div class="head">
    	<div class="div_logo">
        	<a class="a_logo" href="/">
            	<img src="/static/img/logo.png" style="max-width:120px; max-height:50px;" />
            </a>
        </div>
   	<div class="div_nav">
        	<ul class="nav_ul">
            	<li><a href="station_list.html" class="a_li">领养</a></li>
                <li><a href="giveaway_list.html" class="a_li">社区</a></li>
                <li><a href="#" class="a_li">个人中心</a></li>
            </ul>
        </div>
  </div>
    <div class="main">
	    <div class="top">
	    	<div id="station_list_1" class="div_station_list">
	    		<div class="div_station_list_img">
	    			<img alt="加载失败" src="img/head_1.png">
	    		</div>
	    		<div class="div_station_list_span">宫新程</div>
	    	</div>
	    	<div id="station_list_2" class="div_station_list">
	    		<div class="div_station_list_img">
	    			<img alt="加载失败" src="img/head_2.jpg">
	    		</div>
	    		<div class="div_station_list_span">羁绊</div>
	    	</div>
	    	<div id="station_list_3" class="div_station_list">
	    		<div class="div_station_list_img">
	    			<img alt="加载失败" src="img/head_3.jpg">
	    		</div>
	    		<div class="div_station_list_span">宫程新</div>
	    	</div>
	    </div>
	    <div class="mid">
	    	<div id="station_list_4" class="div_station_list">
	    		<div class="div_station_list_img">
	    			<img alt="加载失败" src="img/head_4.jpg">
	    		</div>
	    		<div class="div_station_list_span">新程宫</div>
	    	</div>
	    	<div id="station_list_5" class="div_station_list">
	    		<div class="div_station_list_img">
	    			<img alt="加载失败" src="img/head_5.jpg">
	    		</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_6" class="div_station_list">
	    		<div class="div_station_list_img">
	    			<img alt="加载失败" src="img/head_6.jpg">
	    		</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    </div>
	    <div class="down">
	    	<div id="station_list_7" class="div_station_list">
	    		<div class="div_station_list_img">7</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_8" class="div_station_list">
	    		<div class="div_station_list_img">8</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	   		 <div id="station_list_9" class="div_station_list">
	    		<div class="div_station_list_img">9</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    </div>	
    </div>
    <div class="foot"></div>
</div>
<!--
<a href="javascipt:;" id="back_top" title="回到顶部"></a>
-->
</body>
</html>